@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

body {
  background-color: #efefef; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li video {
      width: 100%;
      object-fit: cover; }
    #wrap .bg li.on {
      opacity: 1; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 80vw;
      height: 70vh;
      position: relative;
      top: 17vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        border-top: 5px solid #efefef;
        border-bottom: 5px solid #efefef;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        backdrop-filter: blur(10px);
        opacity: 0.5;
        transition: opacity 1s; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
    #wrap .swiper-wrapper .intro .inner h1 {
      position: relative;
      display: block;
      font: bold 30px 'Gowun Dodum';
      color: #2D69B4;
      text-align: center;
      margin-bottom: 20px; }
    #wrap .swiper-wrapper .intro .inner .wrap {
      width: 100%;
      height: 80%; }
      #wrap .swiper-wrapper .intro .inner .wrap article {
        float: left; }
        #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(1) {
          width: 30%;
          height: 100%; }
          #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(1) img {
            width: 70%;
            height: 100%;
            margin: 0 auto;
            display: block;
            border: 4px solid #fff8f8;
            object-fit: cover; }
        #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(2) {
          width: 25%;
          height: 55%;
          margin-top: 30px; }
          #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(2) h2 {
            font: 20px/1 'Gowun Dodum';
            margin-bottom: 10px; }
          #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(2) h3 {
            font: 20px/1 'Gowun Dodum';
            margin-bottom: 30px; }
        #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(3) {
          width: 45%;
          height: 55%;
          padding-top: 5px;
          padding-right: 10px;
          margin-top: 30px; }
          #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(3) h3 {
            font: 20px/1.2 'Gowun Dodum'; }
        #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(n + 4) {
          width: 35%;
          height: 45%; }
          #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(n + 4) h4 {
            font: bold 20px/1.2 'Gowun Dodum';
            margin-bottom: 10px; }
          #wrap .swiper-wrapper .intro .inner .wrap article:nth-of-type(n + 4) h5 {
            font: 15px/1.2 'Gowun Dodum';
            margin-bottom: 5px; }
    #wrap .swiper-wrapper .first .inner .wrap, #wrap .swiper-wrapper .second .inner .wrap, #wrap .swiper-wrapper .third .inner .wrap {
      width: 100%;
      height: 100%; }
      #wrap .swiper-wrapper .first .inner .wrap article, #wrap .swiper-wrapper .second .inner .wrap article, #wrap .swiper-wrapper .third .inner .wrap article {
        float: left; }
        #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(1), #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(1), #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(1) {
          width: 20%;
          height: 100%; }
          #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(1) span, #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(1) span, #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(1) span {
            font: lighter 50px/1 'Galada';
            color: #111;
            margin-bottom: 10px; }
          #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(1) h2, #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(1) h2, #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(1) h2 {
            font: 30px/1 'Gowun Dodum';
            color: #111;
            margin-bottom: 30px; }
          #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(1) h3, #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(1) h3, #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(1) h3 {
            font: 20px/1.2 'Gowun Dodum';
            color: #111;
            margin-bottom: 130px; }
          #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(1) a, #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(1) a, #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(1) a {
            display: block;
            width: 90%;
            height: 50px;
            text-align: center;
            font: 20px/50px 'Gowun Dodum';
            color: #838383;
            background-color: #ffffff7a;
            margin-bottom: 10px;
            margin-left: 5px;
            transition: all .5s; }
            #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(1) a:hover, #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(1) a:hover, #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(1) a:hover {
              color: #111; }
        #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(2), #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(2), #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(2) {
          width: 80%;
          height: 100%; }
          #wrap .swiper-wrapper .first .inner .wrap article:nth-of-type(2) video, #wrap .swiper-wrapper .second .inner .wrap article:nth-of-type(2) video, #wrap .swiper-wrapper .third .inner .wrap article:nth-of-type(2) video {
            width: 100%;
            height: 100%;
            object-fit: cover; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 10vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(10vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-logo {
    position: absolute;
    left: auto;
    width: auto;
    height: 50px;
    left: 10vw;
    top: 6vh;
    font: bold 40px/1 'Gowun Dodum';
    color: #fff; }
  #wrap .swiper-pagination {
    position: absolute;
    left: auto;
    width: auto;
    height: 50px;
    left: 15vw;
    top: 7vh; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 40px;
      opacity: 0.7;
      color: #fff;
      font-family: 'Gown Dodum'; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }
    #wrap .swiper-pagination::after {
      content: '';
      display: inline-block;
      width: 580px;
      border: 1px solid #fff;
      position: absolute;
      right: -605px;
      top: 1vh;
      transform: scaleY(0.5); }

/*# sourceMappingURL=style.css.map */
