@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #efefef; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li video {
      width: 100%;
      object-fit: cover; }
    #wrap .bg li.on {
      opacity: 1; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 80vw;
      height: 65vh;
      position: relative;
      top: 20vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        backdrop-filter: blur(10px);
        opacity: 0.5;
        transition: opacity 1s; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
    #wrap .swiper-wrapper:nth-of-type(1) .inner {
      background: #e0eeff; }
      #wrap .swiper-wrapper:nth-of-type(1) .inner h1 {
        position: relative;
        display: block;
        font: bold 30px 'Heebo';
        color: #2D69B4;
        text-align: center;
        margin-bottom: 20px; }
      #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap {
        width: 100%;
        height: 80%; }
        #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap article {
          float: left; }
          #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap article:nth-of-type(1) {
            width: 30%;
            height: 100%; }
            #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap article:nth-of-type(1) img {
              width: 70%;
              height: 100%;
              margin: 0 auto;
              display: block;
              border: 4px solid #fff8f8;
              object-fit: cover; }
          #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap article:nth-of-type(2) {
            width: 70%;
            height: 100%; }
            #wrap .swiper-wrapper:nth-of-type(1) .inner .wrap article:nth-of-type(2) h2 {
              font: 20px/2 'Heebo';
              word-break: break-all;
              padding-right: 40px;
              padding-top: 58px; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 10vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(10vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-logo {
    position: absolute;
    left: auto;
    width: auto;
    height: 50px;
    left: 10vw;
    top: 8.5vh;
    font: bold 40px/1 'Heebo'; }
  #wrap .swiper-pagination {
    position: absolute;
    left: auto;
    width: auto;
    height: 50px;
    left: 15vw;
    top: 10vh; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 60px;
      opacity: 0.7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }
    #wrap .swiper-pagination::after {
      content: '';
      display: inline-block;
      width: 730px;
      border: 1px solid #111;
      position: absolute;
      right: -770px;
      top: 1vh;
      transform: scaleY(0.5); }

/*# sourceMappingURL=style.css.map */
